extends index.pug 

block content 
    .row 
        .col-12.col-lg-8 
            img(src="../imgs/trial.png" alt="prueba").rounded-2.img-fluid.float-md-start.me-md-3.mb-3
            p.fs-2.mb-0 Titulo
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, consectetur at distinctio reprehenderit eligendi cum quae voluptates sapiente ea voluptatibus sit mollitia laboriosam, quam aut repellat hic quibusdam temporibus laborum!Voluptate odio molestias maxime minus placeat asperiores nulla! Fuga tempora provident praesentium accusantium facilis vero optio, quo, vitae corrupti exercitationem quas ad quibusdam perferendis dolorum dicta dolorem reprehenderit asperiores ullam?Blanditiis ad doloribus ipsum eius facere placeat aliquam optio illum enim veniam nam magni recusandae ratione, odio voluptas, animi illo repudiandae. Id, libero rem? Necessitatibus quod voluptatum placeat voluptatibus non.Debitis expedita quod aperiam laboriosam vitae atque dolores sunt, molestias adipisci mollitia quaerat consequuntur, vero cum provident at a illum placeat voluptatum laudantium voluptas, quis nostrum? Quod eaque temporibus dolor.Ab nisi, natus repudiandae numquam, ullam sequi inventore harum alias a quaerat qui magni pariatur ipsa facere tempora, molestias voluptate eaque. Illum doloribus doloremque officiis ut excepturi. Explicabo, at quos.Ducimus id autem, explicabo ut inventore aliquid saepe debitis error ullam veritatis accusantium dolorem, quasi maiores minus beatae veniam dignissimos quae, tempora vel repellendus. Modi necessitatibus neque quas quis amet.Enim minus a ex quae sequi. Ut molestiae debitis error deleniti perferendis voluptatum voluptatem amet perspiciatis repellat a dignissimos exercitationem rerum commodi, illo saepe dolorem impedit minima voluptas accusamus omnis!Ab error, ad ut in illo voluptas, optio veniam, a ex obcaecati distinctio molestiae vel fuga excepturi tenetur ipsa alias quidem enim. Ex cumque, illo totam assumenda ad iure ratione!
        .col-12.col-lg-4 
            p.fs-4.mb-0 Opinion 
            p.small Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolor laborum quaerat possimus voluptatem sunt aspernatur reiciendis hic magni magnam corrupti tenetur, fuga blanditiis maxime ullam quis consequatur? Officiis, recusandae?
            hr

