.col-12.col-md-6.col-lg-4 
    //- include prueba.html
    //- div(style="width:100px;height:100px;background-color:red;")
    .row 
        .col-11.col-lg-10.pe-0
            .bg-secondary.ratio.ratio-1x1.rounded-2
        .col-1.col-lg-2.ps-0.align-self-end
            .m-1.text-warning.fs-5
                i.bi.bi-star-fill
            .m-1.text-warning.fs-5
                i.bi.bi-star-fill
            .m-1.text-warning.fs-5
                i.bi.bi-star-fill
            .m-1.text-warning.fs-5
                i.bi.bi-star-fill
            .m-1.text-warning.fs-5
                i.bi.bi-star-fill
    p.fs-5.mb-0 Nombre 
    p.small Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quisquam ut, itaque deleniti inventore praesentium quae, rem alias animi magni dolores tempora molestias quidem autem earum est numquam! Rerum, ex!