extends layout.pug 

block title 
    | Bienvenidos 

block content 
    h3.sub-amigos Clientes Ilustres 
    .row 
        .three.columns 
            .card   
                img(src="../images/paco.png" alt="cliente")
                h5 Cliente 1
        .three.columns 
            .card   
                img(src="../images/paco.png" alt="cliente")
                h5 Cliente 1
        .three.columns 
            .card   
                img(src="../images/paco.png" alt="cliente")
                h5 Cliente 1
        .three.columns 
            .card   
                img(src="../images/paco.png" alt="cliente")
                h5 Cliente 1

    h3.sub-amigos Lista Negra
    .row
        .three.columns 
            .card   
                img(src="../images/paco.png" alt="cliente")
                h5 Cliente 1
        .three.columns 
            .card   
                img(src="../images/paco.png" alt="cliente")
                h5 Cliente 1
        .three.columns 
            .card   
                img(src="../images/paco.png" alt="cliente")
                h5 Cliente 1
        .three.columns 
            .card   
                img(src="../images/paco.png" alt="cliente")
                h5 Cliente 1