.container  
    .row.vertical-align
        .six.columns.copy
            p &copy; 2025 El Fede
        .six.columns
            ul.main-nav.row
                li.four.columns
                    a(href="./02amigos.html") IG
                li.four.columns
                    a(href="./03solicitar.html") FB 
                li.four.columns
                    a(href="./04encargar.html") TK