.container  
    .row.vertical-align
        .five.columns
            h2.brand Colmado de El Fede
        .seven.columns
            ul.main-nav.row
                li.four.columns
                    a(href="/") Amigos
                li.four.columns
                    a(href="/") Solicitar 
                li.four.columns
                    a(href="/") Encargar