.container  
    .row.vertical-align
        .six.columns
            h1.brand Colmado de El Fede
        .six.columns
            ul.main-nav
                li 
                    a(href="/") Amigos
                li 
                    a(href="/") Solicitar 
                li 
                    a(href="/") Encargar