.container  
    .row.vertical-align
        .five.columns
            h2.brand    
                a(href="./01home.html")  Colmado de El Fede
        .seven.columns
            ul.main-nav.row
                li.four.columns
                    a(href="./02amigos.html") Amigos
                li.four.columns
                    a(href="./03solicitar.html") Solicitar 
                li.four.columns
                    a(href="./04encargar.html") Encargar