$font-color: rgb(63, 47, 62);
:root {
  background-color: white;
}
body{
  color: $font-color;
}

.img-rounded {
  border-radius: 12.5px;
}

.hero-container {
  padding-top: 1rem;
  max-height: 45rem;
  overflow: hidden;
  border-radius: 15px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}


.img-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.brand {
  padding-top: 1.75rem;
  font-weight: bold;
  font-size: 3.25rem;
}

header {
  background-color: #90bbc4;
}

footer {
  background-color: #90bbc4;
}

.cita {
  text-align: center;
  font-size: 1.9rem;
  padding-top: 1.7rem;
  font-weight: 800;
}

.description {
  text-align: left;
}

.main-nav {
  list-style: none;
  display: flex;
  // justify-content: end;
  margin-bottom: 0;
  // align-items: center;
  // gap: 2rem;

  li {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
    font-size: 2.5rem;
    color: $font-color;
  }
}

h2 {
  a {
    text-decoration: none;
    color: $font-color;
  }
  :hover{
    color: $font-color;
  }
}

@media (min-width: 550px) {
  .main-nav {
    justify-content: end;

    .four.columns {
      width: auto;
    }
  }
}

.vertical-align {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.sub-amigos {
  padding-top: 1.25rem;
  font-weight: 500;
  text-align: center;
}

.card {
  border: 1px gray solid;
  border-radius: 15px;
  padding: 1.75rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    text-align: right;
    font-weight: 500;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
}

input[type="date"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  line-height: normal;
  margin-bottom: 1.5rem;
}