extends layout_alt.pug 

block content 
    .row 
        .twelve.columns.hero-container
            img(src="../img/hero.png" alt="Tienda el fede").img-rounded.u-full-width
        .twelve.columns.cita
            p "Ahora los chuches, más cerca de tu casa."
        .twelve.columns.text-center
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, assumenda. Dolorum doloribus, voluptatum dolor atque, cupiditate hic ullam expedita alias tempora corporis excepturi, voluptatibus nihil possimus. Animi totam dolores ipsam?Id, consectetur tempore! Officiis eum quod mollitia harum totam pariatur impedit, delectus amet maxime praesentium perspiciatis. Ipsa ab voluptas enim amet sit aut numquam necessitatibus quas ipsam, saepe vitae dolor!
    .row    
        .one-half.column
            h4 Direccion 
            p Av los alamos 15
            h4 Horario 
            p   
                |Lunes a Viernes: 9:00 - 14:00 / 17:00 - 20:00
                |Sábados: 10:00 - 14:00
            h4 Telefono 
            p +34 645 67 56 87
        .one-half.column
            img(src="../img/maps.png" alt="Tienda el fede").img-rounded.u-full-width