extends layout.pug 

block content 
    h3.text-center Clientes Ilustres
    .row 
        .three.columns 
            .card   
                img(src="../img/paco.png" alt="cliente")
                h5 Cliente 1
        .three.columns 
            .card   
                img(src="../img/paco.png" alt="cliente")
                h5 Cliente 1
        .three.columns 
            .card   
                img(src="../img/paco.png" alt="cliente")
                h5 Cliente 1
        .three.columns 
            .card   
                img(src="../img/paco.png" alt="cliente")
                h5 Cliente 1

    h3.text-center Lista Negra
    .row
        .three.columns 
            .card   
                img(src="../img/paco.png" alt="cliente")
                h5 Cliente 1
        .three.columns 
            .card   
                img(src="../img/paco.png" alt="cliente")
                h5 Cliente 1
        .three.columns 
            .card   
                img(src="../img/paco.png" alt="cliente")
                h5 Cliente 1
        .three.columns 
            .card   
                img(src="../img/paco.png" alt="cliente")
                h5 Cliente 1