extends layout.pug 

block content 
    h3.text-center Clientes Ilustres
    .row 
        .six.three-lg.columns 
            .card   
                img(src="../img/paco.png" alt="cliente")
                h5.d-none.d-lg-block Cliente 1
        .six.three-lg.columns 
            .card   
                img(src="../img/paco.png" alt="cliente")
                h5.d-none.d-lg-block Cliente 1
        .six.three-lg.columns 
            .card   
                img(src="../img/paco.png" alt="cliente")
                h5.d-none.d-lg-block Cliente 1
        .six.three-lg.columns 
            .card   
                img(src="../img/paco.png" alt="cliente")
                h5.d-none.d-lg-block Cliente 1

    h3.text-center Lista Negra
    .row
        .six.three-lg.columns 
            .card   
                img(src="../img/paco.png" alt="cliente")
                h5.d-none.d-lg-block Cliente 1
        .six.three-lg.columns 
            .card   
                img(src="../img/paco.png" alt="cliente")
                h5.d-none.d-lg-block Cliente 1
        .six.three-lg.columns 
            .card   
                img(src="../img/paco.png" alt="cliente")
                h5.d-none.d-lg-block Cliente 1
        .six.three-lg.columns 
            .card   
                img(src="../img/paco.png" alt="cliente")
                h5.d-none.d-lg-block Cliente 1