<!DOCTYPE html>
<html lang="en">
<head>
  include head.pug

</head>
<body>
  .container-fluid
    .row  
      .twelve.columns  
        header 
          h1 El badulaque
    .row  
      .twelve.columns  
        nav
          ul.nav_horizontal
            li: a(href="/") Amigos
            li: a(href="/about") Peticiones
            li: a(href="/contact") Encargos
    .row  
      .twelve.columns  
        block content
    .row  
      .twelve.columns  
        footer 
          p &copy; 2025 El badulaque
</body>
</html>
