<!DOCTYPE html>
<html lang="en">
<head>
  include head.pug

</head>
<body>
  .container 
    .row  
      .twelve.columns  
        header
          h1 El badulaque
    .row.pt-1
      .two.columns
        nav
          ul.nav_vertical.card
            li: a(href="/") Amigos
            li: a(href="/about") Peticiones
            li: a(href="/contact") Encargos
      .ten.columns  
        block content
    .row  
      .twelve.columns  
        footer 
          p &copy; 2025 El badulaque
</body>
</html>
