<!DOCTYPE html>
<html lang="en">
<head>
  include head.pug

</head>
<body>
  .container 
    .row  
      .twelve.columns  
        header 
          h1 El badulaque
    .row  
      .twelve.columns  
        ul.nav_horizontal
          li: a(href="/") Home
          li: a(href="/about") About
          li: a(href="/contact") Contact
    .row  
      .twelve.columns  
        block content
        h1 Main content
    .row  
      .twelve.columns  
        footer 
          p &copy; 2025 El badulaque
</body>
</html>
