extends index.pug 

block content 
    .row 
        include itinerario_card.pug
        include itinerario_card.pug
        include itinerario_card.pug
        include itinerario_card.pug
        include itinerario_card.pug