extends index.pug 

block content 
    .row 
        include itinerarioIndividual.pug
        include itinerarioIndividual.pug
        include itinerarioIndividual.pug
        include itinerarioIndividual.pug
        include itinerarioIndividual.pug