.card {
    border: 1px gray solid;
    border-radius: 15px;
    padding: 1.75rem;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
    }
}