form {
    input[type="date"] {
        height: 38px;
        padding: 6px 10px;
        background-color: #fff;
        border: 1px solid #D1D1D1;
        border-radius: 4px;
        box-shadow: none;
        box-sizing: border-box;
        line-height: normal;
        margin-bottom: 1.5rem;
    }
}