ul.nav_horizontal {
    /* li {
        display: inline;
    } // con eso se puedne hacer migas de pan */
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 2rem;
    background-color: --var(--color_secundario);
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 10px;

    li {
        margin: 0;

        a {
            text-decoration: none;
        }
    }
}

ul.nav_vertical {
    margin: 0;
    font-size: 2rem;
    background-color: --var(--color_secundario);
    padding: 0.5rem 1rem 1.5rem;
    border: 1px grey solid;
    border-radius: 15px;

    // preguntar a la ia porque 
    li {
        display: block;
        margin: 0;

        a {
            text-decoration: none;
        }
    }

}