@use "mixins" as *;

@media (min-width: 550px) {
  /* CSS personalizado */
  .d-none{
    display: none;}
  .container-fluid{
    width: 100%;}
  .d-block{
    display: block;}
  /* Fin de CSS personalizado */
}

@media (min-width: 750px) {
  .container {
    width: 80%; }
  .d-lg-none{
    display: none;}
  .container-fluid{
    width: 100%;}
  .d-lg-block{
    display: block;
  }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  /* Generado */
  @include generar-columnas("lg");

  .one-third-lg.column               { width: 30.6666666667%; }
  .two-thirds-lg.column              { width: 65.3333333333%; }

  .one-half-lg.column                { width: 48%; }

  .offset-by-one-third-lg.column,
  .offset-by-one-third-lg.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds-lg.column,
  .offset-by-two-thirds-lg.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half-lg.column,
  .offset-by-one-half-lg.columns     { margin-left: 52%; }
  
}