h2.display-6.text-center.mb-4 Compare plans
.table-responsive
    table.table.text-center 
        thead 
            tr 
                th(style="width: 34%")
                th(style="width: 22%") Free 
                th(style="width: 22%") Pro
                th(style="width: 22%") Enterprise
        tbody
            tr
                th(scope="row").text-start Public 
                td 
                    svg(width="24" height="24" role="img" aria-label="Included").bi
                        use(xlink:href="#check")
                td 
                    svg(width="24" height="24" role="img" aria-label="Included").bi
                        use(xlink:href="#check")
                td 
                    svg(width="24" height="24" role="img" aria-label="Included").bi
                        use(xlink:href="#check")
            tr 
                th(scope="row").text-start Private 
                td 
                td 
                    svg(width="24" height="24" role="img" aria-label="Included").bi
                        use(xlink:href="#check")
                td 
                    svg(width="24" height="24" role="img" aria-label="Included").bi
                        use(xlink:href="#check")
        tbody 
            tr
                th(scope="row").text-start Permissions 
                td
                    svg(width="24" height="24" role="img" aria-label="Included").bi
                        use(xlink:href="#check")
                td 
                    svg(width="24" height="24" role="img" aria-label="Included").bi
                        use(xlink:href="#check")
                td 
                    svg(width="24" height="24" role="img" aria-label="Included").bi
                        use(xlink:href="#check")
            tr
                th(scope="row").text-start Sharing 
                td
                td 
                    svg(width="24" height="24" role="img" aria-label="Included").bi
                        use(xlink:href="#check")
                td 
                    svg(width="24" height="24" role="img" aria-label="Included").bi
                        use(xlink:href="#check")
            tr
                th(scope="row").text-start Unlimited members 
                td
                td 
                    svg(width="24" height="24" role="img" aria-label="Included").bi
                        use(xlink:href="#check")
                td 
                    svg(width="24" height="24" role="img" aria-label="Included").bi
                        use(xlink:href="#check")
            tr
                th(scope="row").text-start Extra security
                td
                td 
                td 
                    svg(width="24" height="24" role="img" aria-label="Included").bi
                        use(xlink:href="#check")