footer.pt-4.my-md-5.pt-md-5.border-top 
    .row 
        .col-12.col-md  
            small.d-block.mb-3.text-body-secondary &copy; 2017–2025
        .col-6.col-md 
            h5 Features 
            ul.list-unstyled.text-small 
                li.mb-1 
                    a(href="#").link-secondary.text-decoration-none Cool stuff
                li.mb-1 
                    a(href="#").link-secondary.text-decoration-none Random fearure
                li.mb-1 
                    a(href="#").link-secondary.text-decoration-none Team feature
                li.mb-1 
                    a(href="#").link-secondary.text-decoration-none Stuff for developers
                li.mb-1 
                    a(href="#").link-secondary.text-decoration-none Another one
                li.mb-1 
                    a(href="#").link-secondary.text-decoration-none Last time
        .col-6.col-md 
            h5 Resources 
            ul.list-unstyled.text-small 
                li.mb-1 
                    a(href="#").link-secondary.text-decoration-none Resource
                li.mb-1 
                    a(href="#").link-secondary.text-decoration-none Resource name
                li.mb-1 
                    a(href="#").link-secondary.text-decoration-none Another resource
                li.mb-1 
                    a(href="#").link-secondary.text-decoration-none Final resource
        .col-6.col-md 
            h5 About
            ul.list-unstyled.text-small 
                li.mb-1 
                    a(href="#").link-secondary.text-decoration-none Team
                li.mb-1 
                    a(href="#").link-secondary.text-decoration-none Locations
                li.mb-1 
                    a(href="#").link-secondary.text-decoration-none Privacy
                li.mb-1 
                    a(href="#").link-secondary.text-decoration-none Terms
script(src="../../bootstrap/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js") 