.row.row-cols-1.row-cols-md-2.mb-3.text-center
    .col
        .card.mb-4.rounded-3.shadow-sm 
            .card-header.py-3 
                h4.my-0.fw-normal Free 
            .card-body
                h1.card-title.pricing-card-title $0
                    small /mo
                ul.list-unstyled.mt-3.mb-4
                    li 10 users included
                    li 2 GB of storage
                    li Email support
                    li Help center access
                button(type="button").w-100.btn.btn-lg.btn-outline-primary Sign up for free
    //- .col
    //-     .card.mb-4.rounded-3.shadow-sm 
    //-         .card-header.py-3 
    //-             h4.my-0.fw-normal Pro 
    //-         .card-body
    //-             h1.card-title.pricing-card-title $15
    //-                 small /mo
    //-             ul.list-unstyled.mt-3.mb-4
    //-                 li 20 users included
    //-                 li 10 GB of storage
    //-                 li Priority email support
    //-                 li Help center access
    //-             button(type="button").w-100.btn.btn-lg.btn-primary Get started
    .col
        .card.mb-4.rounded-3.shadow-sm.border-primary
            .card-header.py-3.text-bg-primary.border-primary
                h4.my-0.fw-normal Enterprise 
            .card-body
                h1.card-title.pricing-card-title $29
                    small /mo
                ul.list-unstyled.mt-3.mb-4
                    li 30 users included
                    li 15 GB of storage
                    li Phone and email support
                    li Help center access
                button(type="button").w-100.btn.btn-lg.btn-primary Contact us