extends index.pug 

block headerIcon
    <i class="bi bi-search fs-4 pe-3"></i>

block content 
    .row 
        include itinerario_card.pug
        include itinerario_card.pug
        include itinerario_card.pug
        include itinerario_card.pug
        include itinerario_card.pug