extends index.pug 


block headerIcon
    <i class="bi bi-floppy fs-4 pe-3"></i>

block content 
    .row 
        include itinerarioIndividual.pug
        include itinerarioIndividual.pug
        include itinerarioIndividual.pug
        include itinerarioIndividual.pug
        include itinerarioIndividual.pug
    hr  
    div.d-flex.justify-content-center.gap-3.fs-2.text-warning
        i.bi.bi-star-fill
        i.bi.bi-star-fill
        i.bi.bi-star-fill
        i.bi.bi-star
        i.bi.bi-star