.col-12.col-lg-6
    .row.pb-3
        .col-5.col-md-5
            .bg-secondary.ratio.ratio-1x1.rounded-2
        .col-7.col-md-7.align-self-center.align-self-md-start
            p.fs-3.mb-0 Titulo
            p.small.h-25.overflow-hidden.d-none.d-md-block Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro pariatur molestiae corrupti dolor quo magni architecto eligendi, harum eos cum aut incidunt amet alias maxime vero iusto quaerat accusantium mollitia?

