aside.aside
    h2 Formularios 
    ul.aside-lista
        li.aside-lista-element
            a(href="index.html") Registro de MACs
        li.aside-lista-element
            a(href="index2.html") Registro de IPs