doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="style.css")
        title Pug Template 
    body 
        header 
            .contenedor
                block title
        main 
            block content
        footer 
            .contenedor 
                p Footer de la web